html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
  color-scheme: light dark; 
  background-color: canvas;
  color: canvastext;  
}


body {
  font: 100% / 1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  accent-color: var(--color-accent);
  background-color: canvas;
  color: canvastext;
}

nav {
  display: flex;
  padding: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid oklch(50% 10% 200 / 40%); 
}

nav ul,
nav li {
  display: contents;
}

nav a {
  text-decoration: none;
  color: inherit;
  flex: 1;
  text-align: center;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

nav a.current {
  border-bottom-color: var(--border-bottom);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);;
}


form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

form label {
  display: contents; /* or wrap text in <span> if using manual columns */
}

form input,
form textarea {
  grid-column: 2 / 3; /* put input in second column */
} 

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    align-items: start;
}
.projects article {
    display: grid;                 
    grid-template-rows: subgrid;   
    grid-row: span 3;              
    gap: 1em;                      
}
.projects article h2 {
    margin: 0;                     
}
h1, h2, h3, h4, h5, h6 { 
  line-height: 1.1; 
  text-wrap: balance;
  margin: 1em 0;
}
h1 {
    font-size: 4em;          
}

h2 {
    font-size: 2em;          
}